.nav{
    margin-top: -3%;
    margin-right: 3%;
}
.nav a{
    float: right;
    padding-right: 80px;
   
   text-decoration: none;
   color: black;
}
div h3{
    margin-left: 5%;
    background-color: red;
    margin-right: 50%;
    
}
h3 span{
    color: light blue;
}
/* .hero-header {
    background-image: url('header.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:90%  80% ;
    background-position: center;
   background-color: red;
    
} */
.hero-header {
   background: #eee;
    margin-top: 5%;
  margin-right: 4%;
  

}
/* #content{
    height: 100%;
} */
/* form .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
} */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  
  .form-container .cancel {
    background-color: red;
  }
  
  
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }