.nav{
    margin-top: -3%;
}
.nav a{
    float: right;
    padding-right: 80px;
   
   text-decoration: none;
   color: black;
}
div h3{
    
    margin-right: 50%;
}
h3 span{
    color: light blue;
}
body{
    background-image: url('header.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:80%  80% ;
    background-position: center;
   
    
}