body{
    background-color: rgb(204, 227, 235);
    margin-left: 4%;
}
.nav{
    margin-top: -3%;
    margin-right: 3%;
}
@media screen and (max-width: 800px) {
  .nav  {
    width: 100%; 
  }
}
.nav li{
    float: right;
    padding-right: 80px;
   
   text-decoration: none;
   color: black;
}
@media screen and (max-width: 1080px) {
  .nav ul {
    width: 100%; 
  }
}
ul button:hover{
    background: rgb(216, 170, 195);
}
 li a{
    text-decoration: none;
    color:black ;
}
ul li {
    list-style: none;
}

ul li #list{
 margin-left: 40%;
}
div h3{
    margin-left: 2%;
    
    margin-right: 50%;
    
}
h3 span{
    color: light blue;
}

.hero-header {
   
    margin-top: 5%;
  margin-right: 4%;
  position: relative;
  text-align: center;
  color: white;

}
.par{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}
 #section1{
  text-align: center;
}


  .form-popup {
    display: none;
    position: fixed;
    bottom: 10%;
    
    border: 3px solid #f1f1f1;
    z-index:9;
  }
  
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  .form-container input[type=text], .form-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 80%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  
  .form-container .cancel {
    background-color: red;
  }
  
  
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
    
  }
 
  /* #section1{
    display: block;
  } */
  .column {
    float: left;
    width: 30%;
    padding: 5px;
   
  }
  @media screen and (max-width: 1080px) {
    .column{
      width: 100%; 
    }
  }
  .column img{
    align-items: center;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  #list {
    height: 70px;
    overflow-y:scroll ;
    margin-left: 40%;
  
    margin-right: 45%;
    
}
#list li {
  float:left;
padding-left: 10px;
}
@media screen and (max-width: 1080px) {
  #list, #list li {
    width: 100%; 
  }
}
#list .lst{
  text-decoration: none;

}
#onload{
  background-color: white;
  border:  black;
  box-shadow: 5px 8px #888888;
}